{% load static %}
<!DOCTYPE>
<html>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% block styles %}{% endblock %}

<body>
	<nav class="navbar-fixed navbar-expand-md navbar-light " style="background-color: #CD853F;">
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
 	  </button>
  	<div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="/"; style="font-size: 20px ; color : white; font-weight: bold ;padding: 10px"> ResepPisan </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-size: 20px ; color : white;font-weight: bold; padding: 10px"> Fitur 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-size: 20px; color : white; font-weight: bold; padding: 10px"> Fitur 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-size: 20px ; color : white; font-weight: bold; padding: 10px"> Fitur 3</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <a href="/logout/"><button style="font-size: 20px ; color : black; "> Logout </button></a>
          {% else %}
          <li class="nav-item">
           <button style="font-size: 20px ; color : black; " data-toggle="modal" data-target="#signupModal"> Sign Up </button></a>
              <div class = "modal fade" role="dialog" id="signupModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type ="button" class = "close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class = "modal-body">
                          {% if user.is_authenticated %}
                          <h1 class="px-5 pt-5">Hi {{ user.username }}, you're already registered.</h1>
                          <a href="/" class="px-5">Back to homepage</a>
                          {% else %}
                          <form method="POST" action="/register/">
                            {% csrf_token %}
                            <table class="table">
                              <tr>
                                <td><label for="id_username" id="labeluname">Username</label></td>
                                <td><input id="id_username"name="username" type="text" class="form-control"></td>
                              </tr>
                              <tr>
                                <td><label for="id_email">Email</label></td>
                                <td><input id="id_email" name="email" type="email" class="form-control" required></td>
                              </tr>
                              <tr>
                                <td><label for="id_password" id ="labelpw">Password</label></td>
                                <td><input id="id_password" name="password" type="password" class="form-control"></td>
                              </tr>
                            </table>
                            <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Register">
                          </div>
                          </form>
                         <div class="text-center">
                            <p>Already have an account?</p>
                            <a href="/login/">Login here</a>
                            {% endif %}
                        </div>
                   </div>
              </li>

            <li class="nav-item">
                <button style="font-size: 20px ; color : black" data-toggle="modal" data-target="#loginModal"> Login </button></a>
                <div class = "modal fade" role="dialog" id="loginModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type ="button" class = "close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class = "modal-body">
                      <form action="/login/" class="form-popup" id="myForm" method="post">
                      {% csrf_token %}
                      <table class="table">
                        <tr>
                            <td><label for="id_username" id="labeluname">Username</label></td>
                            <td><input id="id_username"name="username" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_password" id ="labelpw">Password</label></td>
                            <td><input id="id_password" name="password" type="password" class="form-control"></td>
                        </tr>
                      </table>
                      {% if form.errors %}
                      <p class=" label label-danger">Username kamu salah, silahkan coba lagi.</p>
                      {% endif %}
                      <div class="modal-footer">
                      <input type="submit"  value="Login" class="btn btn-success">
                      <input type="hidden" name="next" value="{{ next }}">
                      </form>
                      </div>
              </li>
             {% endif %}
        </ul>
    </div>
</nav>
  {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	{% block scripts %}{% endblock %}
</body>

